* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Montserrat", sans-serif;
  color: #222;
  background-color: rgba(255, 0, 0, 0.822);
  overflow: hidden;
}

body h4 {
  padding: 1rem;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body h4 span {
  width: 2rem;
  height: 0.3rem;
  border-radius: 1rem;
  background-color: white;
  margin: 0rem 0.5rem;
}

body form {
  width: 40%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  background-color: rgba(192, 192, 192, 0.473);
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

body form label {
  width: 100%;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
  text-transform: capitalize;
}

body form label input::-webkit-outer-spin-button,
body form label input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body form label input[type=number] {
  -moz-appearance: textfield;
}

body form label input[type=text],
body form label input[type=number],
body form label textarea {
  max-width: 100%;
  min-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0.7rem;
  margin-top: 0.4rem;
  text-transform: capitalize;
  border: 1px solid #333;
  border-radius: 0.5rem;
  color: #222;
}

body form label textarea {
  min-height: 10rem;
  color: #707070;
}

body form label textarea:focus,
body form label input:focus {
  outline: none;
}

body form input[type=submit] {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 2.5px solid #dc143b;
  border-radius: 0.4rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #dc143b;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body form input[type=submit]:focus {
  outline: none;
}

body form input[type=submit]:hover {
  color: white;
  background-color: #dc143b;
}

body .notification {
  z-index: -1;
  position: absolute;
  top: 4rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-family: "Montserrat", sans-serif;
  -webkit-transform: translateX(40vw);
          transform: translateX(40vw);
  color: #fff;
  background-color: rgba(128, 128, 128, 0.849);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .notification h5 {
  font-family: "Lobster", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
}

body .notification img {
  width: 150px;
  padding-right: 0.5rem;
}

body .notification .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .notification .details h5 {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body .notification .details h6 {
  font-size: 14px;
  letter-spacing: 1px;
}

body .notification.added {
  z-index: 3;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(0px);
          transform: translate(0px);
}
/*# sourceMappingURL=adminAddProduct.css.map */