$red: #dc143b;
$black: #111111;
// nav{
//     box-shadow: 2px 3px 5px 0px rgba(185, 185, 185, 0.733);
// }

.store{
    width: 100vw;
    padding: 4.5rem 1rem;
    padding-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-areas: 
        "search search"
        "storeFilter storeBody";
    // grid-template-columns: calc(15vw - 1rem) calc(85vw - 2.5rem);
    grid-gap: 1rem;
    justify-content: flex-start;
    .filterBtn{
        display: none;
    }
    .notMain{
        display: none;
    }
}

.store.empty{
    min-height: calc(100vh - 11.2rem);
    display: flex;
    flex-direction: column;
    grid-gap: 0rem;
    .filterBtn,
    .store-filter,
    .storeBody{
        display: none;
    }
    .storeSearch{
        padding-bottom: 1rem;
    }
    .notMain{
        width: calc(100vw - 2rem);
        min-height: calc(100vh - 20.75rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid rgba(196, 196, 196, 0.808);
        border-radius: 10px;
        background-color: rgba(196, 196, 196, 0.527);
        .notImg{
            position: relative;
            width: 15%;
            img{
                width: 100%;
            }
            .notIcon{
                position: absolute;
                top: 38%;
                left: 50%;
                font-size: 50px;
                color: rgba(255, 0, 0, 0.829);
                transform: translate(-50%, -38%);
            }
        }
        .notFound{
            text-align: center;
            font-family: "Montserrat", sans-serif;
            text-transform: capitalize;
            padding-top: 1rem;
            h3{
                color: $black;
                font-weight: 700;
                line-height: 2rem;
            }
            p{
                color: rgb(70, 70, 70);
                font-weight: 500;
                line-height: 2rem;
            }
        }
    }
}

.storeSearch{
    grid-area: search;
    width: 100%;
    height: fit-content;
    // position: sticky;
    // top: 3.5rem;
    // background-color: violet;
    form{
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        button,
        input{
            border: none;
            margin: 0;
            padding: 0.4rem 1rem;
        }
        button{
            border: 2px solid $red;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            background-color: white;
            color:$red;
            cursor: pointer;
            transition: all 0.2s ease;
        }
        input{
            width: 30%;
            font-family: "Montserrat", sans-serif;
            border: 2px solid grey;
            background-color: rgba(216, 216, 216, 0.26);
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            border-right: none;
            letter-spacing: 0.5px;
        }
        button:hover{
            background-color: $red;
            color: white;
        }
        button:focus,
        input:focus{
            outline: none;
        }
    }
}

.store-filter{
    grid-area: storeFilter;
    width: calc(15vw - 1rem);
    height: fit-content;
    position: sticky;
    top: 4.5rem;
    padding: 0rem 1rem;
    text-align: center;
    border-radius: 0.6rem;
    background-color: $black;
    color: rgba(255, 255, 255, 0.918);
    >h3{
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        padding: 0.7rem 0rem;
        div{
            width: 1.5rem;
            height: 5px;
            margin: 0rem 0.2rem;
            border-radius: 0.3rem;
            background-color: $red;
        }
    }
}
.filter-category{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    padding-bottom: 1rem;  
    h4{
        text-transform: capitalize;
        font-weight: 600;
        padding-bottom: 0.5rem;
    }
    div{
        display: inline-flex;
        align-items: center;
        padding: 0.2rem;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        label{
            padding-left: 0.5rem;
        }
    }
}
.rangeCont{
    width: 100%;
    text-align: start;
    padding-bottom: 1rem;
    h4{
        text-transform: capitalize;
        font-weight: 600;
        padding-bottom: 0.5rem;
    }
    >div{
        margin-top: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // align-items: center;
        align-items: flex-end;
        >h5{
            font-weight: 600;
            padding-right: 0.3rem;
        }
    }
    .liveCount{
        text-align: center;
        height: fit-content;
        width: 6rem;
        font-size: 1rem;
        background-color: rgb(247, 243, 243);
        border: 1.5px solid rgb(204, 202, 202);
        color: $black;
        border-radius: 0.5rem;
        font-weight: 500;
    }
}
.priceRange {
    appearance: none;
    width: 100%;
    height: 12px;
    outline: none;
    opacity: 0.9;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    background: #d3d3d3;
    transition: opacity .2s;
}
.priceRange:hover {
    opacity: 1;
}
.priceRange::-webkit-slider-thumb {
    appearance: none;
    top: 0px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $red;
    cursor: pointer;
}
.subBtn{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem; 
}
.submitBtn{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid $red;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
    color: $red;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s;
}
.submitBtn:hover{
    color: rgba(255, 255, 255, 0.918);
    background-color: $red;
}

.storeBody{
    grid-area: storeBody;
    width: calc(85vw - 2.5rem);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 295px));
    grid-gap: 1rem;
    justify-content: center;
    border-radius: 10px;
    background-color: $black;
    color: black;
    .storeCard{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: white;
        border-radius: 0.5rem;
        overflow: hidden;
        .storeCardImg{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 95%;
                padding: 0px;
            }
        }
    }
    .storeCardBody{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        text-transform: uppercase;
        .nameNprice{
            width: 100%;
            font-family: "Montserrat", sans-serif;
            h3{
                font-weight: 600;
                font-size: 16px;
                overflow: hidden;
            }
        }
        .addToCartBtn{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding-top: 0.5rem;
            h4{
                // align-self: start;
                font-weight: 400;
            }
            a{
                font-size: 14px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 1rem;
                border-radius: 8px;
                border: 2px solid $red;
                color: $red;
                transition: all 0.2s;
            }
            a:hover{
                color: white;
                background-color: $red;
            }
        }
    }
}



@media only screen and (max-width:1300px){
    .store{
        // grid-template-columns: calc(100vw - 2.5rem);
        grid-template-areas: 
            "search"
            "filterBtn"
            "storeBody";
        

        .filterBtn{
            position: relative;
            grid-area: filterBtn;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0rem 1rem;
            button{
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                color: $red;
                text-transform: uppercase;
                border-radius: 7px;
                border:  2px solid $red;
                padding: 0.35rem 1rem;
                cursor: pointer;
                background-color: white;
                transition: all 0.2s;
            }
            button:hover{
                color: white;
                background-color: $red;
            }
            button:focus{
                outline: none;
            }
        }
    }
    .store-filter{
        width: calc(75vw - 2rem);
        height: fit-content;
        // grid-area: unset;
        position: absolute;
        right: 1rem;
        transform: translateX(-25vw);
        opacity: 0;
        pointer-events: none;
        box-shadow: 2px 3px 4px rgba(83, 83, 83, 0.459);
        transition: all 0.3s;
    }
    .store-filter.open{        
        opacity: 1;
        pointer-events: all;
        transform: translateX(0vw);
    }
    .storeBody{
        width: calc(100vw - 2rem);
        grid-area: unset;
    }
    .storeSearch{
        form{
            input{
                width: 50%;
            }
        }
    }
}
@media only screen and (max-width:680px){
    .store{
        padding: 1rem 1rem;
    }
    .storeBody{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .store-filter{
        top: 3.5rem;
    }
    .storeSearch{
        form{
            input{
                width: 60%;
            }
        }
    }
}
@media only screen and (max-width:380px){
    .storeSearch{
        form{
            input{
                width: 80%;
            }
        }
    }
}